<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>383882848574-qkp6dliucskh28daelit50rtqevf1fhj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.383882848574-qkp6dliucskh28daelit50rtqevf1fhj</string>
	<key>API_KEY</key>
	<string>AIzaSyAgMDGwVV87veheD0C6jNYmTBQvnhsJFPA</string>
	<key>GCM_SENDER_ID</key>
	<string>383882848574</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.RemedyAI</string>
	<key>PROJECT_ID</key>
	<string>remedyehr-c9375</string>
	<key>STORAGE_BUCKET</key>
	<string>remedyehr-c9375.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:383882848574:ios:f3bdf4f5d4d0c785fee46f</string>
</dict>
</plist>