<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>260564684390-veuu1bt36i05avrh98i4t6tqoms5ir2e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.260564684390-veuu1bt36i05avrh98i4t6tqoms5ir2e</string>
	<key>API_KEY</key>
	<string>AIzaSyBl44gdQ4X3fNWCNLEsz16pA1NUH2x59y0</string>
	<key>GCM_SENDER_ID</key>
	<string>260564684390</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.RemedyAIPsychiatrist</string>
	<key>PROJECT_ID</key>
	<string>remedy-ai-eva-mobile-app</string>
	<key>STORAGE_BUCKET</key>
	<string>remedy-ai-eva-mobile-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:260564684390:ios:2f28ba533317f8e60de7a7</string>
</dict>
</plist>
