<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSMicrophoneUsageDescription</key>
    <string>This app needs access to your microphone to record audio.</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>RemedyAI</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.383882848574-qkp6dliucskh28daelit50rtqevf1fhj</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>RemedyAI may use the camera to capture a profile photo if you choose.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string></string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>RemedyAI may save photos you choose to your library when requested.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>RemedyAI needs access to your photo library so you can select a profile picture.</string>
	<key>RCTNewArchEnabled</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>SFProDisplay-Black.otf</string>
		<string>SFProDisplay-BlackItalic.otf</string>
		<string>SFProDisplay-Bold.otf</string>
		<string>SFProDisplay-BoldItalic.otf</string>
		<string>SFProDisplay-Heavy.otf</string>
		<string>SFProDisplay-HeavyItalic.otf</string>
		<string>SFProDisplay-Light.otf</string>
		<string>SFProDisplay-LightItalic.otf</string>
		<string>SFProDisplay-Medium.otf</string>
		<string>SFProDisplay-MediumItalic.otf</string>
		<string>SFProDisplay-Regular.otf</string>
		<string>SFProDisplay-RegularItalic.otf</string>
		<string>SFProDisplay-Semibold.otf</string>
		<string>SFProDisplay-SemiboldItalic.otf</string>
		<string>SFProDisplay-Thin.otf</string>
		<string>SFProDisplay-ThinItalic.otf</string>
		<string>SFProDisplay-Ultralight.otf</string>
		<string>SFProDisplay-UltralightItalic.otf</string>
		<string>SFProText-Bold.otf</string>
		<string>SFProText-BoldItalic.otf</string>
		<string>SFProText-Heavy.otf</string>
		<string>SFProText-HeavyItalic.otf</string>
		<string>SFProText-Light.otf</string>
		<string>SFProText-LightItalic.otf</string>
		<string>SFProText-Medium.otf</string>
		<string>SFProText-MediumItalic.otf</string>
		<string>SFProText-Regular.otf</string>
		<string>SFProText-RegularItalic.otf</string>
		<string>SFProText-Semibold.otf</string>
		<string>SFProText-SemiboldItalic.otf</string>
		<string>SFUIText-Regular.otf</string>
		<string>EvilIcons.ttf</string>
		<string>FontAwesome6_Brands.ttf</string>
		<string>FontAwesome6_Regular.ttf</string>
		<string>FontAwesome6_Solid.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialDesignIcons.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
	<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
